---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h1><a href="/">{SITE_TITLE}</a></h1>
	</nav>
</header>
<style>
	header {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em 1em 1em;
	}
	h1 {
		margin: 0;
		font-size: 1em;
	}

	h1 a,
	h1 a.active {
		text-decoration: none;
	}
	nav a {
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
</style>
